<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обо мне</title>
</head>
<body>
    <div>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'about' %}">Обо мне</a>
        <a href="{% url 'contacts' %}">Контакты</a>
    </div>
    <p>Приехал из Уфы</p>
    <p>Успеваемость: отлично</p>
    <p>Люблю учиться</p>
</body>
</html>